################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeadOrbit/obj/Release/net6.0/DeadOrbit.AssemblyInfo.cs
/DeadOrbit/obj/Release/net6.0/DeadOrbit.GlobalUsings.g.cs
/DeadOrbit/obj/Release/net6.0/DeadOrbit.assets.cache
/DeadOrbit/obj/Release/net6.0/DeadOrbit.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Dead-Orbit-RPG/config/applicationhost.config
/.vs/Dead-Orbit-RPG/FileContentIndex/277f8d51-d9ab-45f0-b1ef-93b8728853ca.vsidx
/.vs/Dead-Orbit-RPG/FileContentIndex/332376eb-313e-4862-ba24-d0cf53cb9256.vsidx
/.vs/Dead-Orbit-RPG/FileContentIndex
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/DeadOrbit/obj/Debug/net6.0/DeadOrbit.assets.cache
/DeadOrbit/obj/Debug/net6.0/DeadOrbit.GeneratedMSBuildEditorConfig.editorconfig
/DeadOrbit/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/DeadOrbit/obj/Release/net6.0/DeadOrbit.AssemblyInfoInputs.cache
/.vs/slnx.sqlite
/.vs/Dead-Orbit-RPG/FileContentIndex/3ae2512e-8d33-43b8-8009-128c53b17b0b.vsidx
/.vs/Dead-Orbit-RPG/FileContentIndex/5bd6e499-135d-4004-8995-3e50c9b403be.vsidx
/.vs/Dead-Orbit-RPG/FileContentIndex/5bd6e499-135d-4004-8995-3e50c9b403be.vsidx
/DeadOrbit/obj/Release/net6.0/DeadOrbit.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Dead-Orbit-RPG/FileContentIndex/e681b50b-cec2-4ea9-91cf-750d4cb9a5b9.vsidx
/.vs/Dead-Orbit-RPG/FileContentIndex/ea459623-670c-4ecf-9cc9-68bd6acf259f.vsidx
/.vs/Dead-Orbit-RPG/FileContentIndex/ffa57dc6-1b5e-4ace-a435-af450b0b6539.vsidx
/.vs/Dead-Orbit-RPG/v17/.wsuo
/DeadOrbit/bin/Debug/net6.0/DeadOrbit.dll
/DeadOrbit/bin/Debug/net6.0/DeadOrbit.pdb
/DeadOrbit/obj/Debug/net6.0/DeadOrbit.dll
/DeadOrbit/obj/Debug/net6.0/DeadOrbit.pdb
/DeadOrbit/obj/Debug/net6.0/ref/DeadOrbit.dll
/DeadOrbit/Character.cs
/DeadOrbit/obj/Debug/net6.0/refint/DeadOrbit.dll
/DeadOrbit/obj/Release/net6.0/DeadOrbit.assets.cache
/DeadOrbit/obj/Release/net6.0/DeadOrbit.GeneratedMSBuildEditorConfig.editorconfig
